<div class="container my-5">
<h1>LOGIN</h1>
<hr/>

<form action="/login" method="post" role="form" autocomplete="off">
  <div class="mb-3">
    <label class="form-label">Nombre de Usuario</label>
    <input class="form-control" id="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="mb-3 form-check">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>