
<div class="container">

<h4 > Lista de Productos:</h4>
<hr/>

<table>
    {{#each productos}}

    <tr>
        <td>{{this.nombre}}</td>
        <td>{{this.precio}}</td>


    {{/each }}

    </tr>
</table>
</div>


