<form method="POST" action="api/productos">
<div class="container my-5">

    <h4>Ingrese su producto aqui</h4>
    <hr/>

<div class="input-group mb-3">
  <div class="input-group-prepend">
  
  <input type="text" class="form-control" placeholder="Nombre del producto" aria-label="Nombre del producto" aria-describedby="basic-addon1">
  </div>
</div>
<br/>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Fetch URL" aria-label="Fetch URL" aria-describedby="basic-addon2">
  
</div>

<br/>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>

  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
    </div>
  </div>
</div>

  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

